<html>
    <body>
        <pre>{{data}}</pre>
        <form action="/tel" method="get">
            電話:<input name="tel_num" type="tel">
            <button>submit</button>
        </form>
        <form action="/verify" method="get">
            驗證碼:<input name="verify_code" type="number">
            <button>submit</button>
        </form>
        <form action="/plate" method="get">
            車牌:<input name="plate_number" type="text">
            <button>submit</button>
        </form>
    </body>
    
</html>
